@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(161deg, lightblue,darkcyan);
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-weight: 600;
}


.navbar a {
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .3s;

}
.header div  {
    color: #ededed;
    display: flex;
}
.header i{
    position: absolute;
    right: 350px;
    top: 31px;
}

.navbar a:hover,
.navbar a.active {
    color: palegoldenrod;
}

.maine {
    background: url('./osen.jpg') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: center;
    height: 100vh;
    padding: 0 5%;
}

.maine-content h1 {
    font-size: 40px;
    font-weight: 600;
    color: burlywood;
    max-width: 500px;
}

.maine-content p {
    font-size:25px;
    font-weight: 500;
    color: #ededed;
    max-width: 700px;
    margin: 20px 0 40px;
}

.maine-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 55px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 100%;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 30px;
    font-size: 17px;
    color: #00abf0;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    text-decoration: none;
}

.btn-box a:nth-child(2) {
    background: transparent;
}
.btn-box a:nth-child(2):hover {
    color: black;
}
.btn-box a:nth-child(1):hover {
    color: black;
}
.btn-box a:nth-child(2)::before {
    background: burlywood;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: burlywood;
}
.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    left: 20px;
    bottom: 450px;
    width: 40px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-sci a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid lightgoldenrodyellow;
    border-radius: 50px;
    font-size: 20px;
    color: lightgoldenrodyellow;
    text-decoration: none;
}





